{% extends 'fake/base.html' %}
{% block  content %}


{% comment %} <div>
    <button><a href="{% url 'export_csv' %}">Download CSV</a></button>
</div>
<br><br> {% endcomment %}

<h3 class="d-flex justify-content-start">Data schemas</h3>
<div class="d-grid gap-2 d-md-flex justify-content-md-end">
<a href="{% url 'create' %}"class="btn btn-success">New schema</a>
<a href="{% url 'export_csv' %}"class="btn btn-success">Download CSV</a>
</div>


<div>
{% comment %} <div style='border: 1px blue solid;'> {% endcomment %}
    {% if request.user.is_authenticated %}
{% comment %} {% if object_list %} {% endcomment %}
<table class="table table-hover table-bordered">
    <tr><p>
        <th>#</th>
        <th>Title</th>
        <th>Modified</th>
        <th>Actions</th>
    </tr></p>
    
    <tr><p>
            {% for test_user in object_list%}
            <td>{{forloop.counter}} </td>
            <td><a href="#">{{test_user.name}}</a></td>
            <td><small>created: {{test_user.created_at }}</small></td> 
                <td>
                    <a href="{% url 'update' test_user.id %}">Edit scheme</a> 
                    <a href="{% url 'delete' test_user.id %}" class='a-delete'>Delete</a>
                
                </td>
        </p>
    </tr>
   
    {%endfor%}
</table></div>
 {% else %}
        <p>Sorry, no items in list. <a href='{% url "create" %}'>Create one?</a><p>
{% endif %}



{% endblock %}