
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<style>.login-container {
    
    font-family: 'Nunito', sans-serif;
    text-align: center;
    padding: 80px;
    max-width: 500px;
    border: #ced6e0 1px solid;
    margin-top:200;
    margin-left:550;
}
.card-body {
    padding: 20px;
}
.button {
    border: 1px solid #757575;
    background-color: #4287f5;
    color: #FFF;
    padding: 10px;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}
</style>
    <div class='login-container'>
        <h2> Login </h2>
        <br/>

    <div class="mb-3">
        <form method='POST'>
            {% csrf_token %}
            <p><label>{{ form.username }}</label></p>
            <label>{{ form.password }}</label>
            {% comment %} {{form.as_p}} {% endcomment %}
                    
            <div>
                <button style='margin-top:10px; float:right; margin-right:70px;'class="button" type='submit' value='Submit'> Login </button>
            </div>
    </div>
</form>

    </div>